html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;

}

.flex-container {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: nowrap;
  align-items: start;

}

.nav-bar {

  flex-shrink: 0;
  width: 300px;
  text-align: center;
  height: 100%;
  /* overflow-y:scroll; */
}

.flex-container2 {
  height: 100%;
  flex-grow: 1;
  background-color: rgb(253, 253, 253);
}

@media screen and (max-width: 450px) {
  .nav-bar {
    display: none;
    position: absolute;
  }
}

.sidenav {
  /* height: 100%; */
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(240, 240, 240);
  /* overflow-y: scroll; */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  display: block;
}

* {
  box-sizing: border-box;
}

.dropbtn {
  font-family:"sans-serif","Arial", "Helvetica" ;
  background:transparent ;
  color: white;
  font-size: 18px;
  border: 2px solid #f56c2d;
  border-radius:25px;
  cursor: pointer;
  font-weight: 900; 
  padding:12px 0;
}
span{
	background:#f56c2d;
	height:100%;
	width:0;
	border-radius:25px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:-1;
	transition:0.5s;
}
.dropbtn:hover span{
	width:100%;
}

.dropbtn:hover {
  border:none;
}


.dropdown {
  position: relative;
  display: grid;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 0px 15px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  left: 100%;
}

.dropdown-content a {
  color: #00abc6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #1e262c
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sitename {
  font-family: 'Brush Script MT', cursive;

}

#sbtn {
  width: 300px;
}


.regbtn {
  border: none;
  padding: 1.1em 6.5em;
  background: #1e262c;
  color: #fff;
  font-family: 'TitilliumText22LRegular', Arial, sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 0px;
  width: 80%;
}

.nav-link {
  font-family:"sans-serif","Arial", "Helvetica" ;
  background:transparent ;
  color: white;
  padding: 16px 0; 
  font-size: 18px;
  border: 2px solid #f56c2d;
  border-radius:25px;
  cursor: pointer;
  font-weight: 900; 
  text-align: center;
}
.nav-link:hover{
  background-color:#f56c2d;
}

.regbtn:hover {
  background: #3E3E3E;
}

.Parent {
  display: flex;
  flex-direction: column;
}

.child1 {
  width: 100%;
  height: 350px;
  background-color: rgb(118, 113, 113);
  text-align: left;


}

hr {
  height: 3px;
  border-width: 0;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0)
}

u {
  padding: 5px;
  font-size: larger;
}

.Qlink {
  padding: 5px;
  font-size: 20px;

}

.Qlink i {
  padding-right: 5px;
}

.Qlink p {
  padding: 0 5px;
  font-size: 15px;

}

.cinfo {
  margin-left: auto;
  padding: 5px;
}

.cinfo p {
  font-size: 15px;
  padding: 0 5px;
}

.cinfo i {
  padding: 0 5px;
}

.social-ico {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.social-ico:hover {
  opacity: 0.7;
}

.sico-fb {
  background: #3B5998;
  color: white;
}

.sico-tw {
  background: #55ACEE;
  color: white;
}

.sico-sk {
  background: #00aff0;
  color: white;
}

.sico-in {
  background: #125688;
  color: white;
}

.fchekbox {
  display: flex;
  flex-direction: row;
}

.fchekbox1 {
  width: 100%;
  height: 230px;
  background-color: rgb(118, 113, 113);
  text-align: left;

}

.fchekbox2 {
  width: 100%;
  background-color: rgb(118, 113, 113);
  height: 230px;
  text-align: right;
}

.fbtn {
  border: none;
  padding: 1.1em 6.5em;
  background: #1e262c;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 25px;
  width: 100%;
  margin: 20px;
  text-decoration: none;
}

.fbtn:hover {
  background: #f56c2d;
}






.ibody {
  background-color: rgb(221, 217, 217);


}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {

  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}



.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.ubtn {
  font-size: 30px;

}

.trending {
  font-size: 25px;
  margin: 10px;
}

trending:hover {
  background: red;
}



.strendingsidebtn {
  text-align: center;
}




.custom-carousel .carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.custom-carousel .carousel {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* use this property to hide the scrollbar on firefox */
  scrollbar-width: none;
}

/*  use this pseudo class to hide the scrollbar on chrome */
.custom-carousel .carousel::-webkit-scrollbar {
  display: none;
}

.custom-carousel .item {
  /*box img width*/
  flex-basis: 15%;
  flex-shrink: 0;
  background-color: #f1f1f1;
  margin: 20px;
  text-align: center;
  height: 200px;
  font-size: 20px;
  border-radius: 7px;
  overflow: hidden;
  height: 300px;
}

.custom-carousel .left,
.custom-carousel .right {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000;
  font-size: 5rem;
  overflow: hidden;
  /* flex: 1 1; */
  z-index: 100;
}

.custom-carousel .left:hover,
.custom-carousel .right:hover {
  background-color: #0005;

}

.custom-carousel img {
  width: 100%;

}

.custom-carousel .item:hover {
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
  transition: all 300ms;
}

.flex-news {
  display: flex;

}

.flex-news>div {
  background-color: #f1f1f1;
  width: 180px;
  margin: 30px;
  height: 250px;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  border-radius: 7px;
  flex-shrink: 0;
}

.news:hover {
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
  transition: all 300ms;


}


input.submit_btn {

  background-color: #0ac9e6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form {
  min-width: 60%;
  max-width: 700px;
  /* border: 1px solid #000; */
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color:rgb(95, 159, 180);
}

.register-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url("../pic/min2.jpg");

}

.form-group {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  box-sizing: border-box;
  width: 49%;
}

.form-element {
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  display: block;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  box-sizing: border-box;
  width: 100%;
  accent-color: off;
}
input.submit_btn {

  background-color: darkblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.head-feedbacek{
  font-family: sans-serif;
  font-size:200% ;
}






input.submit_btn:hover{
  background-color:#f56c2d ;

}

.float-right {
  float: right;
}

.w-100 {
  width: 100%;
}

.p-1 {
  padding: 10px;
}

.alert {
  max-width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 0px 12px 10px rgb(0 0 0 / 20%);
  overflow: hidden;
  height: 60px;
  transition: height ease-out 500ms;
}

.alert-success {
  background-color: rgb(5, 171, 5);
  color: #fff;
}

.alert-error {
  background-color: rgb(171, 5, 16);
  color: #fff;
}

.form_feedback {

  /* border: 1px solid #000; */
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  align-items: center;
  justify-content: center;

}

.form-login {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  box-sizing: border-box;
  width: 100%;


}

.login-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.form-login {
  padding: 12px 20px;
  margin: 8px 0;

  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  box-sizing: border-box;
  width: 50%;
}

.form_login {

  border: 1px solid #000;
  box-shadow: 0 5px 30px -5px rgb(0 0 0 / 50%);
  border-radius: 10px;
}

.flex-other {
  display: flex;

}

.flex-other>div {
  background-color: #f1f1f1;
  margin: 10px;

  font-size: 30px;
  width: 500px;
  height: 300px;

}

.flex-other>div:hover {
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
  transition: all 300ms;
}

.cont-form-group {
  padding: 12px 20px;
  margin: 8px 0;
  /*display: inline-block;
/* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  box-sizing: border-box;
  width: 40%;
}

.con-form-element {
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  display: block;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  box-sizing: border-box;
  width: 100%;
  accent-color: off;
}

.contactus-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url("../pic/min2.jpg");
}

.game-card .game-card-img img {
  width: 100%;
  transform: translateY(-20%);
}

.game-card .game-card-img{
  height: 250px;
  overflow: hidden;
}

.game-card .buy-now a{
  text-decoration: none;
  background-color: #00abc6;
}
